body {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    background-color: rgba(243, 243, 243, 0.973);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar > li {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
}

.botonGenerico {
    border: 0px;
    padding: 5px 10px;
    border-radius: 16px;
    font-weight: bolder;
}

.botonGenerico:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color: #1bb76e;
    color: white;
    /* box-shadow: 1px 1px green; */
}

.mainButton:hover {
    box-shadow: 2px 2px black;
}

.secondaryButton {
    background-color: #1e8de9;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 2px 2px rgb(4, 9, 82);
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within {
    border: 1px solid blue;
}

.buscar > input {
    outline: none;
    border: 0px;
}

.iconoBusqueda:hover {
    color: blue
}

.breedCardContainer {
    display: flex;
}

.breedCard {
    margin: 10px;
}

.contenedorImagen {
    width: 240px;
    height: 350px;
    display: flex;
}

.contenedorImagen > img {
    object-fit: cover;
    width: 100%;
}